/* about.scss */
.content-images-about .lists bold {
    color: grey;
}

.content-images-about .lists p:hover {
    color: white;
}

.content-images-about .lists h2 {
    margin: 0;
}

.content-images-about p span {
    color: white;
}

.content-images-about {
      filter: hue-rotate(45deg); 
  }

  
.content-images-about .fa-user:before {
    display: block;
    width: 60px;
    display: block;
}
.content-images-about .fa-display:before {
    display: block;
    width: 60px;
    display: block;
}
.content-images-about .fa-gear:before {
    display: block;
    width: 60px;
    display: block;
}

