/* about.scss */
.content-images-about {
    filter: hue-rotate(45deg); 
}

.content-images-about .lists bold {
    color: grey;
}

.content-images .lists p:hover {
    color: white;
}

  .content-images .rightContent [className^="fa-"]:before  {
    display: block;
    width: 6vw;
}

.content-images .listContent .fa-circle-play:before  {
    display: block;
    width: 1vw;
    cursor: auto;
}