/* other.scss */

.leftContentIcon-other i {
    background: linear-gradient(-80deg, #9c27b0, #ffc107); 
    background-clip: text;
    color: transparent; 
}

.leftContent-other .button-play-other {
    background: linear-gradient(100deg, #9c27b0, #ffc107 ); 
    background-clip: text;
    color: transparent; 
}

.close-button-other{
    background: linear-gradient(100deg, #9c27b0, #ffc107 ); 
    background-clip: text;
    color: transparent; 
}

.background-images-other .modal-content{
    background-color: #CE745C;
}

.background-images-other .header_navbar ul li a:hover {
    color: #CE745C;
}

.background-images-other .footer-links a:hover {
    color: #CE745C;
}
