/* other.scss */

.leftContentIcon-other i {
    background: linear-gradient(-80deg, #9c27b0, #ffc107); 
    background-clip: text;
    color: transparent; 
}

.leftContent-other .button-play-other {
    background: linear-gradient(100deg, #9c27b0, #ffc107 ); 
    background-clip: text;
    color: transparent; 
}