/* result.scss */

.leftContentIcon-result i {
    background: linear-gradient(-80deg, #2196f3, #ff4081); 
    background-clip: text;
    color: transparent; 
}

.leftContent-result .button-play-result {
    background: linear-gradient(100deg, #2196f3, #ff4081); 
    background-clip: text;
    color: transparent; 
}

.close-button-result {
    background: linear-gradient(100deg, #2196f3, #ff4081); 
    background-clip: text;
    color: transparent; 
}

.background-images-result .modal-content{
    background-color: #906BBA;
}

.background-images-result .header_navbar ul li a:hover {
    color: #906BBA;
}

.background-images-result .footer-links a:hover {
    color: #906BBA;
}
