.content-images {
  background: 
    url('../../../public/images/backgroundLeft.png') center/cover no-repeat, 
    url('../../../public/images/backgroundRight.png') right/cover no-repeat, 
    url('../../../public/images/background.png') center/cover no-repeat;
    height: 100%;
    z-index: 2;
}

.content-container{
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.copyright {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  font-weight: 300;
  right: 0;
  top: 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  z-index: 999;
}


.content-images .lists i {
  background: linear-gradient(135deg, #3366cc, #33cc99); 
}

.content-images .result-button {
  background-color: transparent;
  border: 1px solid transparent;  
  border-image: linear-gradient(-45deg, #3366cc, #33cc99) 1;
}
.content-images .result-button:hover {
  background: linear-gradient(-45deg, #3366cc, #33cc99); 
}

.content-images .other-button {
  background-color: transparent;
  border: 1px solid transparent;  
  border-image: linear-gradient(135deg, #3366cc, #33cc99) 1;
}
.content-images .other-button:hover {
  background: linear-gradient(135deg, #3366cc, #33cc99); 
}



.content-images .listContent p i {
  font-size: 1vw;
  width: auto;
  margin-right: 0px;
}

.content-images .lists i {
  font-size: 3vw;
  align-self: center;
  margin-right: 1vw;
  background-clip: text;
  color: transparent; 
  width: 5vw;
  text-align: center;
}

.displayNone {
  display: none;
}


* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.rightContent {
  position: relative;
  left: 25%;
  top: 0%;
  color: white;
  max-width: 60vw;
}

.rightContent .list {
  display: flex;
}

.content-images .lists p {
  margin-bottom: 0.2vh;
  padding: 4vh 2vw;
  font-size: 0.9vw;
  background-color: transparent;
  border: 1px solid transparent; 
  border-image: linear-gradient(-45deg, #3366cc, #33cc99) 1;
  background-color: rgba($color: #000000, $alpha: 0.5);
  color: lightgray;
}


.content-images p span {
  color: white;
}