// Define variables
$primary-color: #3366cc;
$secondary-color: #33cc99;

// Common button styles
@mixin button-styles1 {
  text-transform: uppercase;
  padding: 1.5vw;
  color: #fff;
  background-color: transparent;
  border: 5px solid transparent;
  border-radius: 20px;
  font-size: 1.2vw;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover:first-child {
    border: transparent;
    transform: scale(1.2);
    background: linear-gradient(135deg, $primary-color, $secondary-color);
  }
  &:hover {
    border: transparent;
    transform: scale(1.2);
    background: linear-gradient(-45deg, $primary-color, $secondary-color);
  }
}

// Apply common button styles
.content-images-home .cta-button,
.content-images-home .detail-button {
  @include button-styles1;
  text-decoration: none;
  display: inline-block;
}

// Specific button styles
.content-images-home .cta-button,
.content-images-home .detail-button
 {
  border-image: linear-gradient(135deg, $primary-color, $secondary-color) 1;
  width: 18vw;
  margin-left: 1.2vw;
  text-align: center;
}

// List styles
.content-images-home .lists {
  margin: 6vh 0 5vh 0;

  .list h2 {
    text-transform: uppercase;
    font-size: 1.1vw;
    font-weight: 400;
    margin: 0;
    padding-right: 1vw;
  }

  .list i {
    margin: 0;
    padding: 0.2vw;
  }

  p {
    margin: 0;
    font-size: 0.7vw;
    color: grey;
    padding: 0;
    border: 0;
    width: 4.5vw;
    background-color: transparent;
  }

  .listContent-large p {
    font-size: 0.66vw;
  }
}

// RightContent styles
.rightContent {
  em {
    font-weight: 600;
    letter-spacing: 0.1vw;
    color: #FFFFFF;
    text-shadow: 0 0 2px #FFF, 0 0 15px #33ff99, 0 0 30px #330099;
  }

  .list {
    align-items: center;
  }

  button,
  .result-button,
  .other-button {
    width: 15vw;
    text-decoration: none;
  }

  .lists ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  h1 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: xxx-large;
    margin: 0;
    margin-top: 6vh;
    font-size: 3.1vw;
  }
}

// Define common button styles
@mixin button-styles2 {
    text-transform: uppercase;
    padding: 1.5vh 3vw;
    color: #fff;
    background-color: transparent;
    border: 1px solid transparent; 
    border-image: linear-gradient(-45deg, #3366cc, #33cc99) 1;
    border-radius: 20px;
    font-weight: 600;
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 15vw;
  
    &:hover {
      border: transparent;
      transform: scale(1.2);
    }
  }
  
  // Apply common button styles
  .content-images-home .result-button,
  .content-images-home .other-button {
    @include button-styles2;
  }
  
  // Specific styles for .result-button
  .content-images-home .result-button {
    margin-left: 5vw;
    font-size: 1vw;
  }
  
  // Specific styles for .other-button
  .content-images-home .other-button {
    margin-left: 5vw;
    font-size: 1vw;
  }
  


  .content-images-home .rightContent {
    left: 29.5%;
    }
  

    @media only screen and (max-width: 767px), (max-aspect-ratio: 10/9) {
      .content-images-home h1 {
        font-size: 5vw;
      }
      .content-images-home .cta-button,
      .content-images-home .detail-button
      {
        width: 31vw;
        margin-left: 1.5vw;
        padding: 3vh 1.5vw;
        font-size: 2vw;
      }
      .content-images-home .rightContent {
        left: 12.3%;
        }
        .content-images-home .rightContent .lists ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 1.5vw;
          margin-left: 15%;
        }
        .content-images-home .rightContent .lists .list p {
        font-size: 1.3vw;
        width: auto;
        margin-top: -1vh;
      }
      .content-images-home .rightContent .lists .list h2 {
        font-size: 3vw;
      }
      .content-images-home .lists .list i {
        font-size: 5vw;
        width: 7.5vw;
      }
      .content-images-home .list {
        margin: 1vh 2vw;
      }
      .content-images-home .rightContent .lists {
        max-width: 50%;
      }
      .content-images-home .result-button,
      .content-images-home .other-button {
        width: 27vw;
        display: inline-block;
        padding: 3vh 1.5vw;
        text-align: center;
        font-size: 2vw;
      }
    }


    @media only screen and (max-width: 767px) {
      .content-images-home .rightContent .lists .list p {
        font-size: 2.5vw;
        margin: 0;
        height: 50%;
      }
      .content-images-home .rightContent .lists .list i {
        width: 10vw;
      }
      .content-images-home .rightContent .lists ul {
        margin-left: 10%;
      }
      .content-images-home .result-button,
      .content-images-home .other-button,
      .content-images-home .cta-button,
      .content-images-home .detail-button {
        font-size: 3vw;
      }
    }