/* Home.scss */

.leftContentIcon-home i {
    background: linear-gradient(-80deg, #4a00e0, #8e2de2); 
    background-clip: text;
    color: transparent; 
}

.leftContent-home .button-play-home {
    background: linear-gradient(100deg, #4a00e0, #8e2de2); 
    background-clip: text;
    color: transparent; 
}

.close-button-home {
    background: linear-gradient(100deg, #4a00e0, #8e2de2); 
    background-clip: text;
    color: transparent; 
}
