/* buy.scss */

.leftContentIcon-buy i {
    background: linear-gradient(-80deg, #4caf50, #00bcd4); 
    background-clip: text;
    color: transparent; 
}

.leftContent-buy .button-play-buy {
    background: linear-gradient(100deg, #4caf50, #00bcd4); 
    background-clip: text;
    color: transparent; 
}

.close-button-buy {
    background: linear-gradient(100deg, #4caf50, #00bcd4); 
    background-clip: text;
    color: transparent; 
}

.background-images-buy .modal-content{
    background-color: #26B692;
}

.background-images-buy .header_navbar ul li a:hover {
    color: #26B692;
}

.background-images-buy .footer-links a:hover {
    color: #26B692;
}








.background-images-buy .rightContent * {
    padding: 0;
    margin: 0;
}

.background-images-buy .list {
    align-items: center;
    padding: 10px;
}

.background-images-buy .list p {
    margin: 5px;
}

.background-images-buy .rightContent i {
    background: linear-gradient(-80deg, #4caf50, #00bcd4); 
    background-clip: text;
    color: transparent; 
    font-size: 3em; 
    width: 65px;
    text-align: center;
}

.background-images-buy .listContent p {
    border: 1px solid transparent; 
    border-image: linear-gradient(100deg, #4caf50, #00bcd4) 1; 
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: white;
    margin-right: 5px;
    padding: 10px 20px;
}



.background-images-buy .footerLists {
margin-left: 10%;
}

.background-images-buy .footerLists p {
    color: gray;
    margin-right: 5px;
}
