/* buy.scss */
.content-images-buy {
    filter: hue-rotate(90deg); 
}

.content-images-buy .listContentPlus p {
    border: 3px solid transparent; 
    border-image: linear-gradient(135deg, #3366cc, #33cc99) 1;
    color: white;
    font-weight: 600;
}


.content-images-buy p span{
    color: #008080;
    font-weight: 700;
    text-transform: uppercase;
}

.content-images-buy .list .service {
    padding: 2.1vh 1vw;
    margin-right: 1vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: white;
}

.content-images-buy .list .service:hover {
    color: #33ff99;
}

.content-images-buy .list .service-info {
    padding: 2.1vh 1vw;
    margin-right: 1vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    letter-spacing: -1px;
}

.content-images-buy .service .fa-arrow-pointer:before {
    width: 1vw;
    display: block;
}

@media only screen and (max-width: 767px) {
    .content-images-buy .list .service {
      font-size: 1.5vh;
    }
  }