/* buy.scss */
.content-images-buy .listContentPlus p {
    border: 3px solid transparent; 
    border-image: linear-gradient(135deg, #3366cc, #33cc99) 1;
    color: white;
    font-weight: 600;
}

.content-images-buy .rightContent * {
    padding: 0;
    margin: 0;
    align-items: center;
}

.content-images-buy .list p {
    margin: 10px;
}

.content-images-buy p span{
    color: #008080;
    font-weight: 700;
    text-transform: uppercase;
}

.content-images-buy {
    filter: hue-rotate(90deg); 
}