// ZlbIndex.scss
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../../../src/images/indexBackground.png'); /* Remplacez par le nom de votre image de fond */
  background-size: cover; /* Ajuste la taille de l'image de fond pour couvrir tout le conteneur */
  background-position: center; /* Centre l'image de fond */
  background-repeat: no-repeat; /* Empêche la répétition de l'image de fond */
}

.logo {
  width: 100%;
  height: auto;
  max-width: 600px;
  filter: hue-rotate(90deg);
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; 
  z-index: 1;
}

.indexH1 {
  display: none;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

[class^="leftContentIcon"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0%;
  top: -5%;
  padding: 5px;
  width: 10%;

  & i {
    font-size: 20vh;
    margin: 5px;
    display: inline-block;
    opacity: 0.2;
  }
}

[class^="leftContent"] [class^="button-play"] {
  position: absolute;
  left: 18.3%;
  top: 41.1%;
  font-size: 13vh;

  &:hover {
    transform: scale(1.1);
  }
}

[class^="close-button"] {
  position: absolute;
  left: 18.3%;
  top: 41.1%;
  font-size: 13vh;

  &:hover {
    transform: scale(1.1);
  }
}



.fa-circle-play {
  cursor: pointer;
}
