// Header.scss
.header {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  padding-left: 25vw;

  .header_logo {
    padding-right: 4vw;
  }
  .header_logo img {
    height: 7vh;
    width: auto;
  }

  .header_navbar {
    flex: 1; 
    font-weight: 900;
    font-size: 1.3vw;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
    padding: 5vh 3vw;
    border-radius: 20px;

    ul {
      list-style: none;
      display: flex;
      padding: 0;

      li {
        .active {
          text-decoration: overline;
          color: #339999;
        }
        a {
          text-decoration: none;
          color: white; 
          font-weight: bold;
          margin: 0 3vh;

          &:hover {
            color: #339999; 
          }
        }
      }
    }
  }
}


.nav-link .icon {
  display: none;
}

.nav-link .text {
  display: inline; 
}

@media only screen and (max-width: 767px), (max-aspect-ratio: 10/9) {
  .nav-link .icon {
    display: inline;
    font-size: 3vw;
  }
  .nav-link .text {
    display: none; 
  }
  .header_logo {
    display: none;
  }
  .header {
    padding-left: 0vw;
    position: relative;
    left: 22.5%;
  }
  .header li {
    width: 10vw;
  }
}


