// Header.scss
.header {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  padding-left: 24%;
  padding-top: 2%;

  .header_logo {
    padding-right: 75px;
  }

  .header_navbar {
    flex: 1; 
    font-weight: 900;
    font-size: 1.4em;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 25px 50px;
    border-radius: 20px;

    ul {
      list-style: none;
      display: flex;
      padding: 0;

      li {
        .active {
          text-decoration: overline;
          color: #339999;
        }
        a {
          text-decoration: none;
          color: white; 
          font-weight: bold;
          margin: 0 20px;

          &:hover {
            color: #339999; 
          }
        }
      }
    }
  }
}



