// Footer.scss
.footer-container {
  position: fixed;
  bottom: 0%;
  left: 20vw;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .footer-links {
    flex: 1;
    font-weight: 900;
    font-size: 1.4vw;
    letter-spacing: 0.2vw;
    text-transform: uppercase;
    padding: 8vh 4vw;
    border-radius: 20px;

    a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      margin: 0 3vh;

      &:hover {
        color: #339999;
      }
    }
  }
}
