// Footer.scss
.footer-container {
  position: fixed;
  bottom: 5%;
  left: 24%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .footer-links {
    flex: 1;
    font-weight: 900;
    font-size: 1.3em;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: rgba($color: #000000, $alpha: 0.15);
    padding: 25px 50px;
    border-radius: 20px;

    a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      margin: 0 20px;

      &:hover {
        color: #339999;
      }
    }
  }
}
