.background-container {
  position: relative;
}

.background-images {
  position: relative;
  height: 100vh; 
  background: 
    url('../../../src/images/backgroundLeft.png') left/cover no-repeat, 
    url('../../../src/images/backgroundRight.png') right/cover no-repeat, 
    url('../../../src/images/indexBackground.png') center/cover no-repeat;

  @media (max-width: 768px) {
    .background-left {
      margin-left: 100px; // Ajoutez le style spécifique pour l'image backgroundLeft
    }
  }

  // Ajoutez d'autres styles supplémentaires si nécessaire
}
