// Background.scss
.background-container {
  position: relative;
  overflow: hidden;
  background-color: #101923; 
}

.background-images {
  position: relative;
  height: 100vh;
  background: 
    url('../../../src/images/home/backgroundLeft.png') center/cover no-repeat, 
    url('../../../src/images/home/backgroundRight.png') right/cover no-repeat, 
    url('../../../src/images/home/background.png') center/cover no-repeat, 
}

.copyright {
  color: #6C17E1;
  position: absolute;
  font-weight: 600;
  letter-spacing: 3px;
  right: 0;
  top: 21%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  z-index: 999;
}